<% layout("/layouts/boilerplate.ejs")-%>
<div class="options">
<div class="nonoption"><h1>WELCOME TO THE SITE</h1></div>
<a href="/listings"><div class="option">All Items</div></a>
<a href="/list"><div class="option">Mylist</div></a>
<a href="/explore"><div class="option">Explore</div></a>
</div>